.title {
  text-transform: uppercase;
}
.progress {
  width: 40%;
  color: var(--tui-support-09);
}

.col {
  width: 90%;

  display: flex;
}
.img {
  width: 10rem;
  height: 15rem;

  .image {
    width: 100%;
  }
}
.tui-col_md-3 {
  width: 30rem;
}
