<div class="col">
  @for (item of this.productService.listItem; track $index) {
  <div class="tui-col_md-3">
    <a rel="noreferrer" size="l" target="_blank" tuiIsland [hoverable]="true">
      <div class="img">
        <img
          alt="Taiga"
          class="image"
          src="http://images.all-free-download.com/images/graphicthumb/vector_illustration_of_ripe_bananas_567893.jpg"
        />
      </div>

      <h3 class="title title_size_s">Name</h3>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua
      </p>

      <h4>$20</h4>

      <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
      >
        View
      </button>
    </a>
  </div>
  }
</div>
