<div class="u_container">
  <div class="tool-bar">
    <form class="b-form">
      <tui-select tuiTextfieldSize="l" [formControl]="testValue">
        Tìm kiếm
        <input tuiTextfield />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="filterList"
        ></tui-data-list-wrapper>
      </tui-select>
    </form>
    <div>
      <button
        tuiButton
        size="m"
        type="button"
        appearance="primary"
        (click)="showCreateDialog()"
      >
        Thêm mới
      </button>
    </div>
  </div>

  <tui-scrollbar class="cover">
    <div class="user-table">
      <table tuiTable class="table" [columns]="columns" size="l">
        <thead>
          <tr tuiThGroup>
            <th *tuiHead="'numberOf'" tuiTh [sorter]="null">No</th>
            <th *tuiHead="'id'" tuiTh [sorter]="null">ID</th>
            <th *tuiHead="'name'" tuiTh [sorter]="null">Name</th>
            <th *tuiHead="'description'" tuiTh [sorter]="null">Description</th>
            <th *tuiHead="'price'" tuiTh [sorter]="null">Price</th>
            <th *tuiHead="'image'" tuiTh [sorter]="null">Image</th>
            <th *tuiHead="'stock'" tuiTh [sorter]="null">Stock</th>
            <th *tuiHead="'detail'" tuiTh [sorter]="null">Detail</th>
            <th *tuiHead="'delete'" tuiTh [sorter]="null"></th>
          </tr>
        </thead>
        <tbody tuiTbody>
          @for (item of itemList; track item.id; let i = $index) {
          <tr tuiTr>
            <td *tuiCell="'numberOf'" tuiTd>
              {{ i + 1 }}
            </td>
            <td *tuiCell="'id'" tuiTd>
              {{ item.id }}
            </td>
            <td *tuiCell="'name'" tuiTd>
              {{ item.name }}
            </td>
            <td *tuiCell="'description'" tuiTd>{{ item.description }}</td>
            <td *tuiCell="'price'" tuiTd>${{ item.price }}</td>
            <td *tuiCell="'image'" tuiTd>
              <div>
                <tui-avatar
                  new
                  class="avatar"
                  [avatarUrl]="item.image"
                ></tui-avatar>
              </div>
            </td>
            <td *tuiCell="'stock'" tuiTd>{{ item.stock }}</td>
            <td *tuiCell="'detail'" tuiTd>
              <button
                icon="tuiIconEdit3Large"
                tuiIconButton
                type="button"
                (click)="showDialog(i)"
              >
                Update
              </button>
            </td>
            <td *tuiCell="'delete'" tuiTd>
              <button
                appearance="secondary-destructive"
                icon="tuiIconTrashLarge"
                shape="rounded"
                size="s"
                title="Remove"
                tuiIconButton
                type="button"
                class="remove"
                (click)="remove(item)"
              ></button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </tui-scrollbar>
</div>
<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Declarative directive', size: 'm' }"
  [(tuiDialog)]="open"
>
  <form [formGroup]="userForm" class="col-form">
    @if (!isCreate) {
    <h5
      class="tui-form__header tui-form__header_margin-top_none"
      id="role-form-title"
    >
      Edit
    </h5>
    } @else {

    <h5
      class="tui-form__header tui-form__header_margin-top_none"
      id="role-form-title"
    >
      Create
    </h5>
    }
    <div class="tui-form__row">
      <tui-input
        [readOnly]="!isCreate"
        [tuiTextfieldLabelOutside]="true"
        formControlName="id"
        tuiHintContent=" ID"
        tuiTextfieldExampleText="Enter ID"
      >
        {{ selectedItem?.id }}

        <input tuiTextfield />
        @if (!isCreate) {
        <span class="tui-required">{{ selectedItem?.id }}</span>
        }
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-input
        [tuiTextfieldLabelOutside]="true"
        formControlName="name"
        tuiHintContent=" item name "
        tuiTextfieldExampleText="Enter  Name"
      >
        {{ selectedItem?.name }}
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="name"
      ></tui-error>
    </div>
    <div class="tui-form__row">
      <tui-input
        [tuiTextfieldLabelOutside]="true"
        formControlName="description"
        tuiHintContent="description "
        tuiTextfieldExampleText="Enter description"
      >
        Description @if (!isCreate) {
        <span class="tui-required">{{ selectedItem?.description }}</span>
        }
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="description"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-input
        [tuiTextfieldLabelOutside]="true"
        formControlName="price"
        tuiHintContent="price "
        tuiTextfieldExampleText="Enter price"
      >
        Price @if (!isCreate) {
        <span class="tui-required">{{ selectedItem?.price }}</span>
        }
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="price"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-input
        [tuiTextfieldLabelOutside]="true"
        formControlName="image"
        tuiHintContent="image "
        tuiTextfieldExampleText="Enter image"
      >
        Image @if (!isCreate) {
        <span class="tui-required">{{ selectedItem?.image }}</span>
        }
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="image"
      ></tui-error>
    </div>

    <div class="tui-form__row">
      <tui-input
        [tuiTextfieldLabelOutside]="true"
        formControlName="stock"
        tuiHintContent="stock "
        tuiTextfieldExampleText="Enter stock"
      >
        Stock @if (!isCreate) {
        <span class="tui-required">{{ selectedItem?.stock }}</span>
        }
      </tui-input>
      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="stock"
      ></tui-error>
    </div>

    <div id="action-buts">
      <div id="left-side-buts">
        <button
          appearance="flat"
          id="cancel-but"
          size="l"
          tuiButton
          type="button"
          (click)="open = false"
        >
          Cancel
        </button>
      </div>

      @if (isCreate) {
      <button
        appearance="primary"
        class="create-but"
        size="l"
        tuiButton
        type="button"
      >
        Create
      </button>
      } @else {
      <button
        appearance="primary"
        class="create-but"
        size="l"
        tuiButton
        type="button"
      >
        Update
      </button>
      }
    </div>
  </form>
</ng-template>
